$headerH: 50px;

header{
	height: $headerH;
	position: fixed;
	left: 0px;
	top: 0px;
	border-bottom: 2px solid deeppink;
}

header [class*='col-']{
	height: 100%;
}

.header-logo{
	@include flexbox();
	align-items: center;
	justify-content: space-around;
	a{
		width: 100%;
		height: 100%;
	}
}

.social-label{
	width: 30%;
	height: 100%;
	float: left;
	@include flexbox();
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
}

.social-icon-wrapper{
	width: 70%;
	height: 100%;
	float: left;
	@include flexbox();
	justify-content: space-around;

	.social-icon{
		width: 50px;
		height: 50px;
		float: left;
		padding: 2px;
	}
}

.portfolio-ddl{
	cursor: pointer;
	@include flexbox();
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	padding-left: 10px;
	
	.portfolio-ddl-icon{
		font-size: 200%;
	}
}

.blog-btn{
	@include flexbox();
	align-items: center;
	justify-content: space-around;
	a{
		width: 100%;
		height: 100%;
	}
}
