.main{
	//float: left;
	height: 100%;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.lightOn{
  	background-color: #EEEEEE;
  	color: #000000;
	@include transitionLight ();
	
	section{
		background-color: #EEEEEE;
	  	color: #000000;
		@include transitionLight ();
	}

	.portfolio-ddl-item{
		background-color: #EEEEEE;
		@include transitionLight ();
	}
	
	.ddl-icon-bar{
		background-color: black;
		@include transitionLight ();
	}
}


.lightOff{
  	background-color: #000000; 
  	color: #c6c6c6;
	@include transitionLight ();

	section{
		background-color: #000000; 
	  	color: #c6c6c6;
		@include transitionLight ();
	}

	.portfolio-ddl-item{
		background-color: #000000;
		@include transitionLight ();
	}

	.ddl-icon-bar{
		background-color: #c6c6c6;
		@include transitionLight ();
	}
}