/* INCLUDE CSS SUB  TEMPLATE  */
@import "reset";
@import "mixins";
@import "commonRules";
@import "portfolioHeader";
@import "portfolioBio";
@import "portfolioSkills";
@import "portfolioContact";
@import "portfolioFooter";
@import "blog";
@import "mediaQ";

$pad: 20px;

// GRID LAYOUT
* {
  @include box-sizing(border-box);
}

body{
    display: inline-block;
}

.main{
  //float: left;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.lightOn{
    background-color: #EEEEEE;
    //background-color: #cfba58;
    color: #000000;
    color: #191919;
  @include transitionLight ();

  section{
    background-color: #EEEEEE;
    //background-color: #cfba58;
    color: #000000;
    color: #191919;
    @include transitionLight ();
  }

  .portfolio-ddl-item{
    background-color: #EEEEEE;
    //background-color: #cfba58;
    @include transitionLight ();
  }

  .ddl-icon-bar{
    background-color: black;
    background-color: #191919;
    @include transitionLight ();
  }
}


.lightOff{
    background-color: #000000;
    background-color: #191919;
    color: #c6c6c6;
    color: #cfba58;
  @include transitionLight ();

  section{
    background-color: #000000;
    background-color: #191919;
      color: #c6c6c6;
      color: #cfba58;
    @include transitionLight ();
  }

  .portfolio-ddl-item{
    background-color: #000000;
    background-color: #191919;
    @include transitionLight ();
  }

  .ddl-icon-bar{
    background-color: #c6c6c6;
    background-color: #f0efd1;
    @include transitionLight ();
  }
}

// LAYOUT

.row {
  float: left;
  //margin: 0 0 $pad 0;
  width: 100%;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }


}

[class*='col-'] {
  float: left;
  padding-right: $pad;
  .row &:last-of-type {
    padding-right: 0;
  }
}

/*#main section:first-of-type {
  margin-top: $headerH;
}*/

.col-1 {
  width: 100%;
}
.col-3-4 {
  width: 75%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
.row-pad {
  padding: $pad $pad $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

 .flex-container {
  @include flexbox();
 }

.item {
  @include flex(1 200px);
  @include order(2);
}

//  END LAYOUT

