/* INCLUDE CSS SUB  TEMPLATE  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* MIXINS */
/* END MIXINS */
/* LAYOUT MIXINS */
/* flex style */
/* END LAYOUT MIXINS */
body, html {
  /*background-color: rgb(255, 244, 215);
  background-color: rgb(255, 255, 255);*/
  font-family: 'Istok Web', sans-serif;
  width: 100%; }

a {
  color: #022560; }

a:link {
  color: #022560; }

a:active {
  color: #022560; }

a:visited {
  color: #022560;
  text-decoration: underline; }

a:hover {
  color: deeppink;
  cursor: pointer; }

@media (max-width: 980px) {
  html {
    font-size: 9px; } }
/* FONT STYLE */
.txt-white {
  color: #FFFFFF; }

.txt-black {
  color: #000000; }

.txt-grey {
  color: #cccccc; }

.txt-yellow {
  color: #fea500; }

.txt-green {
  color: #339933; }

.txt-lightGreen {
  color: #00df00; }

.txt-red {
  color: #ff0000; }

.txt-redDark {
  color: #B50000; }

.txt-orange {
  color: #ee6708; }

.txt-glow-white {
  text-shadow: 0 0 0.5rem #000, 0 0 1rem #FFF; }

.txt-glow-black {
  text-shadow: 0 0 0.5rem #000, 0 0 1rem #000; }

.bold {
  font-weight: bold; }

.txt-up {
  text-transform: uppercase; }

.txt-cap {
  text-transform: capitalize; }

.txt-low {
  text-transform: lowercase; }

.txt-u {
  text-decoration: underline !important; }

.txt-l {
  text-align: left; }

.txt-r {
  text-align: right; }

.txt-c {
  text-align: center; }

.txt-6 {
  font-size: .6rem; }

.txt-7 {
  font-size: .7rem; }

.txt-8 {
  font-size: .8rem; }

.txt-9 {
  font-size: .9rem; }

.txt-10 {
  font-size: 1rem; }

.txt-11 {
  font-size: 1.1rem; }

.txt-12 {
  font-size: 1.2rem; }

.txt-13 {
  font-size: 1.3rem; }

.txt-14 {
  font-size: 1.4rem; }

.txt-15 {
  font-size: 1.5rem; }

.txt-16 {
  font-size: 1.6rem; }

.txt-17 {
  font-size: 1.7rem; }

.txt-18 {
  font-size: 1.8rem; }

.txt-20 {
  font-size: 2.0rem; }

.txt-22 {
  font-size: 2.2rem; }

.txt-24 {
  font-size: 2.4rem; }

.txt-26 {
  font-size: 2.6rem; }

.txt-28 {
  font-size: 2.8rem; }

.txt-30 {
  font-size: 3.0rem; }

.txt-40 {
  font-size: 4.0rem; }

.lh10 {
  line-height: 1rem; }

.lh30 {
  line-height: 3rem; }

.lh20 {
  line-height: 2rem; }

.lh40 {
  line-height: 4rem; }

/* PADDING */
.pd0 {
  padding: 0; }

.pd1 {
  padding: .1rem; }

.pd2 {
  padding: .2rem; }

.pd3 {
  padding: .3rem; }

.pd4 {
  padding: .4rem; }

.pd5 {
  padding: .5rem; }

.pd6 {
  padding: .6rem; }

.pd7 {
  padding: .7rem; }

.pd8 {
  padding: .8rem; }

.pd9 {
  padding: .9rem; }

.pd10 {
  padding: 1rem; }

.pd15 {
  padding: 1.5rem; }

.pd20 {
  padding: 2rem; }

.pt0 {
  padding-top: 0; }

.pt1 {
  padding-top: .1rem; }

.pt2 {
  padding-top: .2rem; }

.pt3 {
  padding-top: .3rem; }

.pt4 {
  padding-top: .4rem; }

.pt5 {
  padding-top: .5rem; }

.pt6 {
  padding-top: .6rem; }

.pt7 {
  padding-top: .7rem; }

.pt8 {
  padding-top: .8rem; }

.pt9 {
  padding-top: .9rem; }

.pt10 {
  padding-top: 1rem; }

.pt15 {
  padding-top: 1.5rem; }

.pt20 {
  padding-top: 2rem; }

.pb0 {
  padding-bottom: .0rem; }

.pb1 {
  padding-bottom: .1rem; }

.pb2 {
  padding-bottom: .2rem; }

.pb3 {
  padding-bottom: .3rem; }

.pb4 {
  padding-bottom: .4rem; }

.pb5 {
  padding-bottom: .5rem; }

.pb6 {
  padding-bottom: .6rem; }

.pb7 {
  padding-bottom: .7rem; }

.pb8 {
  padding-bottom: .8rem; }

.pb9 {
  padding-bottom: .9rem; }

.pb10 {
  padding-bottom: 1rem; }

.pb15 {
  padding-bottom: 1.5rem; }

.pb20 {
  padding-bottom: 2rem; }

.ptb0 {
  padding-top: 0;
  padding-bottom: 0; }

.ptb1 {
  padding-top: .1rem;
  padding-bottom: .1rem; }

.ptb2 {
  padding-top: .2rem;
  padding-bottom: .2rem; }

.ptb3 {
  padding-top: .3rem;
  padding-bottom: .3rem; }

.ptb4 {
  padding-top: .4rem;
  padding-bottom: .4rem; }

.ptb5 {
  padding-top: .5rem;
  padding-bottom: .5rem; }

.ptb6 {
  padding-top: .6rem;
  padding-bottom: .6rem; }

.ptb7 {
  padding-top: .7rem;
  padding-bottom: .7rem; }

.ptb8 {
  padding-top: .8rem;
  padding-bottom: .8rem; }

.ptb9 {
  padding-top: .9rem;
  padding-bottom: .9rem; }

.ptb10 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.ptb15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.ptb20 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pl0 {
  padding-left: 0; }

.pl1 {
  padding-left: .1rem; }

.pl2 {
  padding-left: .2rem; }

.pl3 {
  padding-left: .3rem; }

.pl4 {
  padding-left: .4rem; }

.pl5 {
  padding-left: .5rem; }

.pl6 {
  padding-left: .6rem; }

.pl7 {
  padding-left: .7rem; }

.pl8 {
  padding-left: .8rem; }

.pl9 {
  padding-left: .9rem; }

.pl10 {
  padding-left: 1rem; }

.pl15 {
  padding-left: 1.5rem; }

.pl20 {
  padding-left: 2.0rem; }

.pr0 {
  padding-right: .0; }

.pr1 {
  padding-right: .1rem; }

.pr2 {
  padding-right: .2rem; }

.pr3 {
  padding-right: .3rem; }

.pr4 {
  padding-right: .4rem; }

.pr5 {
  padding-right: .5rem; }

.pr6 {
  padding-right: .6rem; }

.pr7 {
  padding-right: .7rem; }

.pr8 {
  padding-right: .8rem; }

.pr9 {
  padding-right: .9rem; }

.pr10 {
  padding-right: 1rem; }

.pr15 {
  padding-right: 1.5rem; }

.pr20 {
  padding-right: 2rem; }

.plr0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.plr1 {
  padding-left: .1rem;
  padding-right: .1rem; }

.plr2 {
  padding-left: .2rem;
  padding-right: .2rem; }

.plr3 {
  padding-left: .3rem;
  padding-right: .3rem; }

.plr2 {
  padding-left: .4rem;
  padding-right: .4rem; }

.plr5 {
  padding-left: .5rem;
  padding-right: .5rem; }

.plr6 {
  padding-left: .6rem;
  padding-right: .6rem; }

.plr7 {
  padding-left: .7rem;
  padding-right: .7rem; }

.plr8 {
  padding-left: .8rem;
  padding-right: .8rem; }

.plr9 {
  padding-left: .9rem;
  padding-right: .9rem; }

.plr10 {
  padding-left: 1rem;
  padding-right: 1rem; }

.plr15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.plr20 {
  padding-left: 2rem;
  padding-right: 2rem; }

/*MARGINS*/
.m10 {
  margin: 1rem; }

.mt1 {
  margin-top: .1rem; }

.mt2 {
  margin-top: .2rem; }

.mt3 {
  margin-top: .3rem; }

.mt4 {
  margin-top: .4rem; }

.mt5 {
  margin-top: .5rem; }

.mt6 {
  margin-top: .6rem; }

.mt7 {
  margin-top: .7rem; }

.mt8 {
  margin-top: .8rem; }

.mt9 {
  margin-top: .9rem; }

.mt10 {
  margin-top: 1rem; }

.mt15 {
  margin-top: 1.5rem; }

.mt20 {
  margin-top: 2rem; }

.mb1 {
  margin-bottom: .1rem; }

.mb2 {
  margin-bottom: .2rem; }

.mb3 {
  margin-bottom: .3rem; }

.mb4 {
  margin-bottom: .4rem; }

.mb5 {
  margin-bottom: .5rem; }

.mb6 {
  margin-bottom: .6rem; }

.mb7 {
  margin-bottom: .7rem; }

.mb8 {
  margin-bottom: .8rem; }

.mb9 {
  margin-bottom: .9rem; }

.mb10 {
  margin-bottom: 1rem; }

.mb15 {
  margin-bottom: 1.5rem; }

.mb20 {
  margin-bottom: 2rem; }

.mtb1 {
  margin-top: .1rem;
  margin-bottom: .1rem; }

.mtb2 {
  margin-top: .2rem;
  margin-bottom: .2rem; }

.mtb3 {
  margin-top: .3rem;
  margin-bottom: .3rem; }

.mtb4 {
  margin-top: .4rem;
  margin-bottom: .4rem; }

.mtb5 {
  margin-top: .5rem;
  margin-bottom: .5rem; }

.mtb6 {
  margin-top: .6rem;
  margin-bottom: .6rem; }

.mtb7 {
  margin-top: .7rem;
  margin-bottom: .7rem; }

.mtb8 {
  margin-top: .8rem;
  margin-bottom: .8rem; }

.mtb9 {
  margin-top: .9rem;
  margin-bottom: .9rem; }

.mtb10 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mtb15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mtb20 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ml1 {
  margin-left: .1rem; }

.ml2 {
  margin-left: .2rem; }

.ml3 {
  margin-left: .3rem; }

.ml4 {
  margin-left: .4rem; }

.ml5 {
  margin-left: .5rem; }

.ml6 {
  margin-left: .6rem; }

.ml7 {
  margin-left: .7rem; }

.ml8 {
  margin-left: .8rem; }

.ml9 {
  margin-left: .9rem; }

.ml10 {
  margin-left: 1rem; }

.ml15 {
  margin-left: 1.5rem; }

.ml20 {
  margin-left: 2rem; }

.mr1 {
  margin-right: .1rem; }

.mr2 {
  margin-right: .2rem; }

.mr3 {
  margin-right: .3rem; }

.mr4 {
  margin-right: .4rem; }

.mr5 {
  margin-right: .5rem; }

.mr6 {
  margin-right: .6rem; }

.mr7 {
  margin-right: .7rem; }

.mr8 {
  margin-right: .8rem; }

.mr9 {
  margin-right: .9rem; }

.mr10 {
  margin-right: 1rem; }

.mr15 {
  margin-right: 1.5rem; }

.mr20 {
  margin-right: 2rem; }

.mlr2 {
  margin-left: .1rem;
  margin-right: .1rem; }

.mlr2 {
  margin-left: .2rem;
  margin-right: .2rem; }

.mlr2 {
  margin-left: .3rem;
  margin-right: .3rem; }

.mlr2 {
  margin-left: .4rem;
  margin-right: .4rem; }

.mlr5 {
  margin-left: .5rem;
  margin-right: .5rem; }

.mlr2 {
  margin-left: .6rem;
  margin-right: .6rem; }

.mlr2 {
  margin-left: .7rem;
  margin-right: .7rem; }

.mlr2 {
  margin-left: .8rem;
  margin-right: .8rem; }

.mlr2 {
  margin-left: .9rem;
  margin-right: .9rem; }

.mlr10 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mlr15 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.mlr20 {
  margin-left: 2rem;
  margin-right: 2rem; }

/* DISPLAY AND POSITION */
.mauto {
  margin: 0 auto !important;
  display: block; }

.inlineBlock {
  display: inline-block; }

.inline {
  display: inline; }

.hide {
  display: none; }

.show {
  display: block; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.floatC, .clearBoth {
  clear: both;
  min-height: 0px;
  height: 0px; }

.z999 {
  z-index: 999; }

.z-1 {
  z-index: -1; }

.rel {
  position: relative; }

/* BG COLOR */
.mred {
  background-color: #b50000 !important; }

.bblack {
  background-color: #000000; }

.bwhite {
  background-color: #ffffff; }

.aagrey {
  background-color: #AAAAAA; }

.transpBG {
  background-color: transparent; }

/* STRUCTURE HEIGHTS */
.h10 {
  height: 1rem; }

.h20 {
  height: 2rem; }

.h30 {
  height: 3rem; }

.h40 {
  height: 4rem; }

.h50 {
  height: 5rem; }

.h60 {
  height: 6rem; }

.h70 {
  height: 7rem; }

.h80 {
  height: 8rem; }

.h90 {
  height: 9rem; }

.h100 {
  height: 10rem; }

.h100p {
  height: 100%; }

/* STRUCTURE WIDTHS */
.w100 {
  width: 100%; }

.w75 {
  width: 75%; }

.w66 {
  width: 66%; }

.w50 {
  width: 50%; }

.w33 {
  width: 33%; }

.w333 {
  width: 33.33333333333%; }

.w25 {
  width: 25%; }

.w15 {
  width: 15%; }

.w10 {
  width: 10%; }

.w5 {
  width: 5%; }

header {
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  /*position: fixed;
  left: 0px;
  top: 0px;*/
  /*border-bottom: 2px solid deeppink;*/ }

header [class*='col-'] {
  height: 100%; }

.header-switch {
  cursor: pointer;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  text-align: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 100%; }
  .header-switch span {
    color: deeppink;
    font-size: 110%; }

.social-label {
  width: 35%;
  height: 100%;
  float: left;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase; }

.social-icon-wrapper {
  width: 65%;
  height: 100%;
  float: left;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-around; }
  .social-icon-wrapper .social-icon {
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
    text-align: center; }
    .social-icon-wrapper .social-icon img {
      width: 100%;
      height: auto; }
  .social-icon-wrapper .social-icon:hover {
    /*Temp effect*/
    border-bottom: 2px solid deeppink; }

.portfolio-ddl {
  cursor: pointer;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 0px;
  position: relative;
  border-left: 2px solid deeppink; }
  .portfolio-ddl .portfolio-ddl-label {
    padding-left: 10px; }
  .portfolio-ddl .portfolio-ddl-icon {
    position: relative; }
    .portfolio-ddl .portfolio-ddl-icon .ddl-icon-bar {
      position: absolute;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    .portfolio-ddl .portfolio-ddl-icon .vertical-bar {
      left: 50%;
      width: 2px;
      height: 12px;
      margin-top: -5px; }
    .portfolio-ddl .portfolio-ddl-icon .horizontal-bar {
      top: 50%;
      margin-left: -5px;
      width: 12px;
      height: 2px; }
  .portfolio-ddl .portfolio-ddl-list {
    top: 100%;
    left: 0px;
    position: absolute;
    width: 100%;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    display: none; }
    .portfolio-ddl .portfolio-ddl-list .portfolio-ddl-item {
      width: 100%;
      height: 50px;
      position: relative;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      align-items: center;
      border-right: 2px solid deeppink; }
      .portfolio-ddl .portfolio-ddl-list .portfolio-ddl-item .portfolio-ddl-title {
        width: 70%;
        padding: 5px; }
      .portfolio-ddl .portfolio-ddl-list .portfolio-ddl-item .portfolio-ddl-tech-wrap {
        width: 20%;
        height: 40px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        align-items: center;
        -webkit-flex-flow: row wrap; }
        .portfolio-ddl .portfolio-ddl-list .portfolio-ddl-item .portfolio-ddl-tech-wrap div {
          width: 50%;
          height: 20px;
          background-color: red;
          display: -webkit-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;
          /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-flex;
          /* NEW - Chrome */
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          align-items: center; }
      .portfolio-ddl .portfolio-ddl-list .portfolio-ddl-item .ddl-Arrow-Item {
        width: 10%;
        height: 20px; }

.language-selector {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: space-around; }
  .language-selector div {
    height: 80%;
    width: 40%;
    background-color: deeppink; }

.blog-btn {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: space-around; }
  .blog-btn a {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px; }
    .blog-btn a img {
      width: auto;
      height: 100%; }

.left-all {
  left: 100%; }

.right-all {
  right: 100%; }

.left-zero {
  left: 0%; }

.right-zero {
  right: 0%; }

@-webkit-keyframes anim-left-to-zero {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@-moz-keyframes anim-left-to-zero {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@-o-keyframes anim-left-to-zero {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@keyframes anim-left-to-zero {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }
@-webkit-keyframes anim-right-to-zero {
  0% {
    right: 100%; }
  100% {
    right: 0%; } }
@-moz-keyframes anim-right-to-zero {
  0% {
    right: 100%; }
  100% {
    right: 0%; } }
@-o-keyframes anim-right-to-zero {
  0% {
    right: 100%; }
  100% {
    right: 0%; } }
@keyframes anim-right-to-zero {
  0% {
    right: 100%; }
  100% {
    right: 0%; } }
@-webkit-keyframes anim-left-to-full {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }
@-moz-keyframes anim-left-to-full {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }
@-o-keyframes anim-left-to-full {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }
@keyframes anim-left-to-full {
  0% {
    left: 0%; }
  100% {
    left: 100%; } }
@-webkit-keyframes anim-right-to-full {
  0% {
    right: 0%; }
  100% {
    right: 100%; } }
@-moz-keyframes anim-right-to-full {
  0% {
    right: 0%; }
  100% {
    right: 100%; } }
@-o-keyframes anim-right-to-full {
  0% {
    right: 0%; }
  100% {
    right: 100%; } }
@keyframes anim-right-to-full {
  0% {
    right: 0%; }
  100% {
    right: 100%; } }
@-webkit-keyframes anim-ddl-icon-open-vert {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(450deg); } }
@-moz-keyframes anim-ddl-icon-open-vert {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(450deg); } }
@-o-keyframes anim-ddl-icon-open-vert {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(450deg); } }
@keyframes anim-ddl-icon-open-vert {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(450deg); } }
@-webkit-keyframes anim-ddl-icon-open-horiz {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(-180deg); } }
@-moz-keyframes anim-ddl-icon-open-horiz {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(-180deg); } }
@-o-keyframes anim-ddl-icon-open-horiz {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(-180deg); } }
@keyframes anim-ddl-icon-open-horiz {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(-180deg); } }
@-webkit-keyframes anim-ddl-icon-close-vert {
  0% {
    transform: rotate(450deg); }
  100% {
    transform: rotate(0deg); } }
@-moz-keyframes anim-ddl-icon-close-vert {
  0% {
    transform: rotate(450deg); }
  100% {
    transform: rotate(0deg); } }
@-o-keyframes anim-ddl-icon-close-vert {
  0% {
    transform: rotate(450deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes anim-ddl-icon-close-vert {
  0% {
    transform: rotate(450deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes anim-ddl-icon-close-horiz {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0deg); } }
@-moz-keyframes anim-ddl-icon-close-horiz {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0deg); } }
@-o-keyframes anim-ddl-icon-close-horiz {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes anim-ddl-icon-close-horiz {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0deg); } }
.anim-ddl-icon-open-vert {
  -webkit-animation: anim-ddl-icon-open-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* Safari 4+ */
  -moz-animation: anim-ddl-icon-open-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* Fx 5+ */
  -o-animation: anim-ddl-icon-open-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-ddl-icon-open-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.anim-ddl-icon-open-horiz {
  -webkit-animation: anim-ddl-icon-open-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* Safari 4+ */
  -moz-animation: anim-ddl-icon-open-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* Fx 5+ */
  -o-animation: anim-ddl-icon-open-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-ddl-icon-open-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.anim-ddl-icon-close-vert {
  -webkit-animation: anim-ddl-icon-close-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* Safari 4+ */
  -moz-animation: anim-ddl-icon-close-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* Fx 5+ */
  -o-animation: anim-ddl-icon-close-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-ddl-icon-close-vert 	.5s ease-in-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.anim-ddl-icon-close-horiz {
  -webkit-animation: anim-ddl-icon-close-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* Safari 4+ */
  -moz-animation: anim-ddl-icon-close-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* Fx 5+ */
  -o-animation: anim-ddl-icon-close-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-ddl-icon-close-horiz 	.7s ease-in-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.anim-ddl-open-left {
  -webkit-animation: anim-left-to-zero 	0.3s ease-out 0s normal 1 forwards;
  -moz-animation: anim-left-to-zero 	0.3s ease-out 0s normal 1 forwards;
  /* Fx 5+ */
  -o-animation: anim-left-to-zero 	0.3s ease-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-left-to-zero 	0.3s ease-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.anim-ddl-open-right {
  -webkit-animation: anim-right-to-zero 	0.3s ease-out 0s normal 1 forwards;
  /* Safari 4+ */
  -moz-animation: anim-right-to-zero 	0.3s ease-out 0s normal 1 forward;
  /* Fx 5+ */
  -o-animation: anim-right-to-zero 	0.3s ease-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-right-to-zero 	0.3s ease-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.anim-ddl-close-left {
  -webkit-animation: anim-left-to-full 	0.3s ease-out 0s normal 1 forwards;
  -moz-animation: anim-left-to-full 	0.3s ease-out 0s normal 1 forwards;
  /* Fx 5+ */
  -o-animation: anim-left-to-full 	0.3s ease-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-left-to-full 	0.3s ease-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.anim-ddl-close-right {
  -webkit-animation: anim-right-to-full 	0.3s ease-out 0s normal 1 forwards;
  /* Safari 4+ */
  -moz-animation: anim-right-to-full 	0.3s ease-out 0s normal 1 forward;
  /* Fx 5+ */
  -o-animation: anim-right-to-full 	0.3s ease-out 0s normal 1 forwards;
  /* Opera 12+ */
  animation: anim-right-to-full 	0.3s ease-out 0s normal 1 forwards;
  /* IE 10+, Fx 29+ */ }

.container-bio {
  height: 100%; }

.container-bio [class*='col-'] {
  height: 100%; }

.bio-description {
  overflow: hidden;
  height: 60%;
  width: 100%; }
  .bio-description p {
    font-size: 120%;
    padding: 20px;
    line-height: 130%; }
  .bio-description p:first-of-type::first-letter {
    font-size: 150%;
    color: red; }

.bio-img {
  height: 40%;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  background-size: cover;
  background-position-y: 15%;
  /*img{
  	width: 100%;
  	height: auto;
  }*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.3), inset 0 -4px 6px rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.9); }
  .bio-img img {
    width: 100%;
    height: auto; }

.container-skills [class*='col-'] {
  height: 100%; }

.graph-total {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  float: left; }

.graph-total .arc {
  stroke-weight: 0.1;
  fill: #f0a417; }

.radial {
  border-radius: 3px;
  background: #FFFFFF;
  color: #000; }

.radial-svg .background {
  fill: transparent; }

.radial-svg .component path {
  fill: #c6c6c6; }

.radial-svg .labels {
  display: none; }

.radial-svg .arcs .arc {
  fill: deeppink; }

.container-contact [class*='col-'] {
  height: 100%; }

footer {
  height: 30px;
  border-top: 2px solid deeppink; }

footer [class*='col-'] {
  height: 100%; }

@media (min-width: 1520px) {
  .bio-description p {
    font-size: 190%; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: inline-block; }

.main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.lightOn {
  background-color: #EEEEEE;
  color: #000000;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  .lightOn section {
    background-color: #EEEEEE;
    color: #000000;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  .lightOn .portfolio-ddl-item {
    background-color: #EEEEEE;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  .lightOn .ddl-icon-bar {
    background-color: black;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }

.lightOff {
  background-color: #000000;
  color: #c6c6c6;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  .lightOff section {
    background-color: #000000;
    color: #c6c6c6;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  .lightOff .portfolio-ddl-item {
    background-color: #000000;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  .lightOff .ddl-icon-bar {
    background-color: #c6c6c6;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }

.row {
  float: left;
  width: 100%; }
  .row:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  .row [class*='col-']:last-of-type {
    padding-right: 0; }

/*#main section:first-of-type {
  margin-top: $headerH;
}*/
.col-1 {
  width: 100%; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-3-4 {
  width: 75%; }

.col-1-8 {
  width: 12.5%; }

/* Opt-in outside padding */
.row-pad {
  padding: 20px 20px 20px 20px; }
  .row-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.flex-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

.item {
  -webkit-box-flex: 1 200px;
  -moz-box-flex: 1 200px;
  -webkit-flex: 1 200px;
  -ms-flex: 1 200px;
  flex: 1 200px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

/*# sourceMappingURL=style.css.map */
